.container {
    display: flex;
    justify-content: space-between; /* กระจายองค์ประกอบให้ชิดซ้ายและขวา */
    align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
    width: 100%; /* ใช้เต็มหน้าจอ */
  }
  
  /* button */
  .btn-add {
    background-color: initial;
    background-image: linear-gradient(#7C3AED, #472187 100%);
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    height: 40px;
    width: 120px;
    line-height: 40px;
    display: inline-block;
  }
  .btn-add:hover {
    opacity: .8;
  }
  
  
.btn-edit {
    background-color: initial;
    background-image: linear-gradient(#EEE605, #A78B02);
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    height: 40px;
    width: 80px;
    line-height: 40px;
    display: inline-block;
}
.btn-edit:hover {
    opacity: .8;
}

.btn-delete {
    background-color: initial;
    background-image: linear-gradient(#EF4444, #892727);
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    /* font-family: sans-serif; */
    font-size: 16px;
    /* font-weight: bold; */
    height: 40px;
    width: 80px;
    text-align: center;
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
}
.btn-delete:hover {
    opacity: .8;
}

/* table */
#sdg {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#sdg td, #sdg th {
border: 1px solid #ddd;
padding: 8px;
}

#sdg tr:nth-child(even){background-color: #ffffff;}

#sdg tr:hover {background-color: #f7e9fb;}

#sdg th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #d99cf5;
color: white;
}