.container {
    display: flex;
    justify-content: space-between; /* กระจายองค์ประกอบให้ชิดซ้ายและขวา */
    align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
    width: 100%; /* ใช้เต็มหน้าจอ */
  }
  
  /* button */
  .btn-add {
    background-color: initial;
    background-image: linear-gradient(#7C3AED, #472187 100%);
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: auto; 
    padding: 0 10px; 
    line-height: 40px;
    display: inline-flex; 
    align-items: center;
  }
  .btn-add:hover {
    color: black;
    opacity: .8;
  }


  .btn-addprogram {
    background-color: initial;
    background-image: linear-gradient(#11863e, #0b5a3b 100%);
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: auto; 
    padding: 0 10px; 
    line-height: 40px;
    display: inline-flex; 
    align-items: center;
  }
  .btn-addprogram:hover {
    color: black;
    opacity: .8;
  }
  
  
    .btn-edit {
      background-color: initial;
      background-image: linear-gradient(#EEE605, #A78B02);
      border-radius: 10px;
      border-style: none;
      box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      width: auto; 
      padding: 0 10px; 
      line-height: 40px;
      display: inline-flex; 
      align-items: center;
    }
    .btn-edit:hover {
      color: black;
      opacity: .8;
    }
    
    .btn-delete {
      background-color: initial;
      background-image: linear-gradient(#EF4444, #892727);
      border-radius: 10px;
      border-style: none;
      box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      width: auto; 
      padding: 0 10px; 
      line-height: 40px;
      display: inline-flex; 
      align-items: center;
    }
    .btn-delete:hover {
      color: black;
      opacity: .8;
    }
  
    .btn-addlist {
      background-color: #e3c2ff;
      border: 1px solid #f8f9fa;
      border-radius: 4px;
      color: #ffffff;
      cursor: pointer;
      font-family: arial,sans-serif;
      font-size: 14px;
      height: 30px;
      width: 120px;
      padding: 0 16px;
      text-align: center;
      white-space: pre;
    }
    
    .btn-addlist:hover {
      border-color: #650893;
      box-shadow: rgba(104, 6, 139, 0.1) 0 1px 1px;
      color: #7304c7;
    }
    
    .btn-addlist:focus {
      border-color: #650893;
      outline: none;
    }

    

   /* end button */

/* รายการโครงการ */

* {
	box-sizing: border-box;
}

body {
	font-family: Montserrat, sans-serif;
	height: 100vh;
	margin: 20px 50px;
    background: #fff;
}

h1 {
	text-align: center;
	color: #fff;
	margin: 40px;
}


.accordion {
	margin-bottom: 10px;

	.accordion-btn {
        position: relative;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 15px 20px;
        text-align: left;
        cursor: pointer;
        font-weight: bold; 
        list-style-image: none;
        transition: box-shadow .3s;
	}

  .accordion-btn:hover {
    box-shadow: 0 0 20px rgba(212, 0, 255, 0.2); 
   
  }
  
  .accordion-content {
		background-color: #ffffff;
		border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        overflow: visible;

    > *{
      padding: 5px 20px;
    }
	}

  &[open]{
    .accordion-btn::after {
    transform: translate(0%, -50%) rotate(90deg);
    color: #9218ca;
    }
    
    summary ~ *{
      overflow: visible;
      animation: heightUp 1s ease-in-out;
    }
	}
}

@keyframes heightUp {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 2000px; 
    }
}

/* แผนยุท มหาลัย */
.bth-group {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
  margin-left: auto; 
}

table {
  border-collapse: collapse !important;
  border: 2px solid #8d08cf !important;  
  border-radius: 8px; 
  overflow: hidden; 
  background-color: #a421e5; 
}

th, td {
  padding: 8px; 
  text-align: center; 
  background-color: #ffffff; 
  border-collapse: collapse !important;
  border: 2px solid #8d08cf !important;  
  transition: background-color 0.3s ease, color 0.3s ease;
}

th:hover, td:hover {
  background-color: #f3d1ff; 
}

.center-text {
    text-align: center;
}

/* program */

.container-program .bth-group {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
  margin-left: auto; 
}

.container-program table {
  border-collapse: collapse !important;
  border: 2px solid #0b5a3b !important;  
  border-radius: 8px; 
  overflow: hidden; 
  background-color: #0b5a3b; 
}

.container-program th, 
.container-program td {
  padding: 8px; 
  background-color: #ffffff; 
  border-collapse: collapse !important;
  border: 2px solid #0b5a3b !important;  
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container-program th:hover, 
.container-program td:hover {
  background-color: #dcfada; 
}

/* .container-program .center-text {
    text-align: center;
} */






